*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1,h2,h3,p,a,strong,small,span{
    color: white;
}

body{
    background-color: hsl(217, 28%, 15%);
    
}

header{
    margin: 0 auto;
    padding: 60px;
    width: 100%;
    max-width: 1440px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
}

ul li:nth-of-type(2){
    margin: 0 40px;
}

#intro{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./images/bg-curvy-desktop.svg');
    background-size: 1440px 449px;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 210px;
    
}

#intro .container {
    max-width: 720px;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
}

#intro h1{
    
    font-size: 40px;
    text-align: center;
    margin: 30px 0;
}

#intro p {
    margin: 0 auto;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    max-width: 570px;
}

#intro button {
    display: block;
    margin: 40px auto 0 auto;
    background: linear-gradient(to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    color: white;
    font-size: 17px;
    font-weight: bold;
    width: 95%;
    max-width: 350px;
    border: 0;
    border-radius: 25px;
    padding: 16px ;
}

#tools{
    margin: 0 auto;
    max-width: 1440px;
    background-color: hsl(218, 28%, 13%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#tools .box-tool {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.box-tool h3{
    margin: 25px 0 13px 0;
}

.box-tool p {
    line-height: 25px;
}

#productive {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:  hsl(218, 28%, 13%);
    font-family: 'Raleway', sans-serif;
    padding: 100px 0;
}

#productive .box-img {
    width: 49%;
    display: flex;
    justify-content: center;
}

.box-img img {
    width: 100%;
    max-width: 615px;
}

#productive .text{
    width: 49%;
    display: flex;
    justify-content: center;
}

.text .box {
    max-width: 600px;
    text-align: left;
}

.box h2{
    font-size: 36px;
    max-width: 320px;
}

.box p{
    font-size: 18px;
    margin: 20px 0;
    line-height: 25px;
}

.box .link{
    max-width: 180px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    border-bottom: 2px solid hsl(198, 60%, 50%);
    padding-bottom: 4px;
}

.box a{
    color: hsl(198, 60%, 50%);
    font-weight: bold;
    margin-right: 10px;

}

#testimonials{
    margin: 0 auto;
    max-width: 1440px;
    background-color: hsl(218, 28%, 13%);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 0 200px 0;

}

#testimonials .card {
    font-family: 'Raleway', sans-serif;
    width: 28%;
    background-color:hsl(219, 30%, 18%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0,.1);
}

.card p {
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 20px;
}

.card img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.person {
    display: flex;
    align-items: center;
}

.person .text{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.person .text strong{
    font-size: 11px;
    margin-bottom: 4px;
}

.person .text small{
    font-size: 9px;
}

#email{
    background-color: hsl(218, 28%, 13%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#email .card-email {
    font-family: 'Raleway', sans-serif;
    max-width: 1000px;
    background-color: hsl(217, 28%, 15%);
    box-shadow: 10px 10px 10px rgb(0, 0, 0,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 30px 10%;

    transform: translateY(45%);
}

.card-email p{
    text-align: center;
    margin: 25px 0 30px 0;
    line-height: 25px;
}

.card-email .box-email {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-email input {
    flex: 2;
    margin-right: 20px;
    padding: 16px;
    border: 0;
    border-radius: 25px;
    font-size: 18px;
    outline: none;
}

.box-email button{
    flex: 1;
    background: linear-gradient(to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    border: 0;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

footer {
    width: 100%;
    padding-bottom: 40px;
    background-color: hsl(216, 53%, 9%);
    padding-top: 200px;
    font-family: 'Raleway', sans-serif;
}

footer > img {
    
    margin-bottom: 70px;
    align-self: flex-start;
}

.container-footer {
    display: flex;
}

.container-footer .left{
    width: 60%;
    padding: 0 10px 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
   
}

.left .location {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.location img {
    margin-right: 17px;
}

.location p {
    line-height: 23px;
}

.left .contact {
    width: 182px;
    
}

.contact img {
    margin-right: 12px;
}

.contact div:first-of-type{
    margin-bottom: 15px;
}

.container-footer .right{
    width: 40%;
    display: flex;
}

.right p {
    margin-bottom: 15px;
}

.right .aboutus{
    flex: 1;
}

.right .contactus{
    flex: 1;
}

.right .social {
    flex: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.social img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}

.social img:nth-of-type(2){
    margin: 0 8px;
}



