*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1,h2,h3,p,a{
    color: white;
}

body{
    background-color: hsl(217, 28%, 15%);
    
}

header{
    margin: 0 auto;
    padding: 60px;
    width: 100%;
    max-width: 1440px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
}

header ul {
    display: flex;
}

ul li:nth-of-type(2){
    margin: 0 40px;
}

main{
    border: 1px solid white;
}

#intro{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./images/bg-curvy-desktop.svg');
    background-size: 1440px 449px;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 210px;
    
}

#intro .container {
    max-width: 720px;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
}

#intro h1{
    
    font-size: 40px;
    text-align: center;
    margin: 30px 0;
}

#intro p {
    margin: 0 auto;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    max-width: 570px;
}

#intro button {
    display: block;
    margin: 40px auto 0 auto;
    background: linear-gradient(to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    color: white;
    font-size: 17px;
    width: 95%;
    max-width: 350px;
    border: 0;
    border-radius: 25px;
    padding: 16px ;
}

#tools{
    background-color: hsl(218, 28%, 13%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#tools .box-tool {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.box-tool h3{
    margin: 25px 0 13px 0;
}

.box-tool p {
    line-height: 25px;
}
