*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

html, body{
    height: 100%;
}

h1,h2,h3{
    text-align: center;
    color: hsl(210, 10%, 33%);
}

h2{
    font-size: 34px;
    margin-bottom: 20px;
}

h3{
    margin-bottom: 10px;
    font-size: 26px;
}

p {
    color: hsl(201, 11%, 66%);
    line-height: 29px;
    text-align: center;
}

section:not(1) {
    margin-bottom: 200px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1%;
}

.small-section{
    width: 100%;
    max-width: 620px;
}

#header{
    width: 100%;
    height: 360px;
    background-image: url('./images/bg-header-desktop.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#header img {
    width: 125px;
    height: 125px;
    position: relative;
    top:40%;
    left: 50%;
    transform: translateX(-50%);
}

#text-header{
    transform: translateY(-8%);
    text-align: center;
    margin-bottom: 70px;
}

#text-header h1{
    font-size: 39px;
    margin-bottom: 15px;
}

#text-header p:first-of-type{
    font-size: 18px;
    margin-bottom: 40px;
}

.box-buttons{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-buttons button {
    font-size: 18px;
    padding: .8em 2em;
    border-radius: 30px;
    outline: none;
    border: 0;
    box-shadow: 0px -3px 3px rgba(10, 10, 10,.5) inset;
    cursor: pointer;
    transition: background-color .4s, transform .4s;
}

#ios{
    margin-right: 15px;
    background-color: hsl(171, 66%, 44%);
    
}

#ios:hover{
    background-color: hsla(171, 66%, 44%, .9);
    transform: scale(1.04);
}

#mac{
    background-color: hsl(233, 100%, 69%);
}

#mac:hover{
    background-color: hsla(233, 100%, 69%,.9);
    transform: scale(1.04);
}

#advantages{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

#advantages .box-pc {
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-20%);
}

#advantages .box-pc img {
    width: 100%;
    max-width: 800px;
}

#advantages .box-texts {
    flex:1;
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    transform: translateX(-29%);
}

#advantages .box-text:nth-of-type(2){
    margin: 60px 0;
}

#advantages .box-texts p{
    font-size: 17px;
}

#access {
    padding: 0 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#access p{
    font-size: 18px;
    max-width: 680px;
    margin-bottom: 100px;
    text-align: center;
}

#access img {
    width: 100%;
    max-width: 905px;
}

#tools{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 170px;
}

#tools p{
    margin-bottom: 60px;
}

#tools .container-tools{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: space-between;
    justify-items: flex-end;
}

#tools .box-tools{
    min-height: 15em;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    text-align: center;
}

#tools .box-tools img{
    margin-bottom: 40px;
}

#companies {
    width: 100%;
    max-width: 1220px;
    margin-bottom: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

#companies img {
    padding: 0 10px;
}



#text-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 170px;
}

#text-footer p{
    text-align: center;
    font-size: 18px;
    max-width: 700px;
    margin-bottom: 50px;
}

footer{
    width: 100%;
    background-color: hsla(201, 11%, 66%, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div:first-of-type,
footer div:last-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo{
    flex:1;
}

.logo img {
    width: 50px;
    height: 50px;
}

footer .info{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 1%;
}

.info .box-p{
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    
}

.box-p p {
    text-align: left;
    width: 30%;
    font-size: 18px;
    color:hsl(210, 10%, 33%);
    padding-right: 40px;
}

.box-p p:nth-of-type(1),
.box-p p:nth-of-type(2),
.box-p p:nth-of-type(3){
    margin-bottom: 20px;
}

footer .social-midias{
    flex: 1;
}

.social-midias img:nth-of-type(2) {
    margin: 0 25px;
}

@media (max-width:1200px){
    #tools .container-tools{
        flex-wrap: wrap;
    }
    #tools .box-tools{
        flex: none;
        width: 48%;
    }
}

@media (max-width:1070px){
    footer{
        padding: 0 2%;
    }
    footer .logo{
        flex:0.6;
    }
    
    footer .social-midias{
        flex: 0.6;
    }
    footer .info{
        flex: 2.8;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
    }
    
    .info .box-p{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }
    
    .box-p p {
        text-align: center;
        width: 30%;
        font-size: 18px;
        color:hsl(210, 10%, 33%);
        padding-right: 20px;
    }
    
    .box-p p:nth-of-type(1),
    .box-p p:nth-of-type(2),
    .box-p p:nth-of-type(3){
        margin-bottom: 20px;
    }
    
}

@media (max-width:920px){
    #companies{
        justify-content: center;
    }
    #companies img {
        padding: 0 30px;
        min-width: 180px;
        margin-bottom: 40px;
    }
}

@media (max-width:768px){
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 22px;
    }
    p{
        font-size: 16px;
    }

    #advantages{
        flex-direction: column;
    }

    #advantages .box-pc{
        transform: translateX(0);
    }

    #advantages .box-texts{
        transform: translateX(0);
    }

    .box-text{
        width: 90%;
        margin: 0 auto;
        max-width: 500px;
        text-align: center;
    }

    #advantages .box-text:nth-of-type(2){
        margin: 60px auto;
    }

    #tools .container-tools{
        flex-direction: column;
        align-content: center;
    }

    #tools .box-tools{
        max-width: 500px;
        width: 90%;
    }

    .box-p p {
        padding-right: 0;
    }

    .box-p p:nth-of-type(1),
    .box-p p:nth-of-type(2),
    .box-p p:nth-of-type(3){
    margin-bottom: 20px;
}

    .box-p p {
        width: 100%;
        margin-bottom: 20px;
    }

}

@media (max-width:500px){
    .box-buttons{
        width: 100%;
        flex-direction: column;
    }

    #ios{
        margin-right: 0;
        margin-bottom: 20px;
    }

    .box-buttons button{
        width: 90%;
    }

    footer{
        flex-direction: column;
    }
    
}





